/* Student Name	: 	Sarah Barron
Student ID: 20013679) 
Deployed website:	http://tullogher-rosbercon-lgfa.surge.sh/
Github:		https://github.com/sarahbarron/tullogher-rosbercon-lgfa
 */
 
/* general css settings */

/* font and initial margin settings   */
body,
html {
    font-family: 'Original Surfer', cursive;
    margin: 0;
}

/* no decoration on any links  */
a {
    text-decoration: none;
}

/* h1 text in the header */
header h1 {
    font-size: 50px;
    color: black;
    padding: 0 0 0 50px;
}

/* general h1 settings */
h1 {
    font-size: 35px;
    padding: 50px;
    color: #08af5f;
}

/* Footer settings*/
footer {
    border-top: inset;
    background: black;
    color: white;
}

/* copyright paragraph in footer  */
footer p {
    text-align: center;
}

/* side bar settings */
aside {
    padding: 50px;
    border-left: inset;
    margin: 110px 0;
}

/* h3 in the side bar */
aside h3 {
    color: #08af5f;
}

/* bold text */
.bold-txt{
    font-weight: bold;
}