<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Title -->
    <title>Tullogher Rosbercon LGFA</title>
    <!-- css style sheets -->
    <link rel="stylesheet" href="./css/general-styles.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/center-sections.css">
    <link rel="stylesheet" href="./css/images.css">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Original+Surfer" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- include the header section on all pages -->
      <%- include('./partials/_header.ejs'); %>
      <!-- include all content from the current page -->
      <%- yield %>
      <!-- inclue the footer section on all pages -->
      <%- include('./partials/_footer.ejs'); %>
    </div>
  </body>
</html>
