<!-- include the navigation menu -->
<%- include('./partials/_nav.ejs', {id : "home-page"}); %>
<!-- Large main image section -->
<section id="main-img">
    <!-- large main image -->
    <img src="./images/group-winners.jpg" alt="League Winners">
</section>
<!-- about the club section -->
<section id="about-section">
    <!-- Paragraph about the club -->
    <div>
        <h2>About Our Club</h2>
        <p>Tullogher Rosbercon ladies football club was founded in 2016. Since then
            we have won an U14 & an U12 league final. Many of our club girls also represented
            us in the primary school league. They won the county final in both 2016 and 2017.
        </p>
        <p>We have teams from U8's right up to U16.</p>
        <p>We are currently looking for girls of all ages to come and play with us regardless
            of if they have played before. >We also always welcome new members and volunteers
            to help with the running of the club.</p>

    </div>
    <!-- Image beside the about the club text -->
    <img src="./images/medal-presentation-2018.jpg" alt="club is family image">
</section>
<!-- fixtures and results section -->
<section id="fix-res-section">
    <div>
        <h2>Next Fixture</h2>
        <p>Sat 16th March - 2pm, Venue: Railyard </p>
        <p>U12 Tullogher V Railyard</p>
    </div>
    <div>
        <h2>Latest Result</h2>
        <p>U16 League: Tullogher 1-5 V Piltown 2-2</p>
    </div>
</section>