<!-- Student Name	: 	Sarah Barron
Student ID: 20013679
Deployed website:	http://tullogher-rosbercon-lgfa.surge.sh/
Github:		https://github.com/sarahbarron/tullogher-rosbercon-lgfa
-->

<!-- include the navigation bar -->
<%- include('./partials/_nav.ejs', {id : "events-page"}); %>

<section class="center-section">

    <!-- heading -->
    <h1>News and Events</h1>

    <!-- news section -->
    <section class="news-events">

        <!-- heading -->
        <h2>Latest News</h2>

        <!-- article 1: registration -->
        <article>
            <h3>Registration</h3>
            <img src="./images/great-block.jpg" alt="registration for tullogher rosbercon LGFA image">
            <p>We are looking forward to seeing all the girls back again this year and all the new
                girls who plan to join us. If you know anyone who might be interested in playing or
                volunteering with our club, please encourage them to come along on registration day.
            </p>
            <br>
            <p>Date: Saturday 9th March 2019</p>
            <p>Time: 10am - 12pm</p>
            <p>Where: Tullogher Rosbercon GAA Club clubhouse</p>
            <p>Fees: €30 per child or max of €60 per family</p>
        </article>

        <!-- article 2: Abby makes the U14 county team -->
        <article>
            <h3>Abby makes the U14 County Team </h3>
            <img src="./images/u14-county-team-2019.jpg" alt="Club is Family Img">
            <p>Well done to Abby who has made the U14 county team.</p>
            <p>Abby has worked very hard both at training and in her spare time
                to improve her Gaelic Football skills. She never misses a training
                session and having only started playing when our club started in 2016
                all her hard work has paid off.
            </p>
            <p>We are so proud to have one of our girls representing the club at county level
                and to have such a fantastic role model for the younger girls to aspire to.
            </p>
            <p>Keep up the great work Abby.</p>
        </article>
    </section>

    <!-- events section -->
    <section class="news-events">

        <!-- heading -->
        <h2>Upcoming Events</h2>

        <!-- article 3: cake sale -->
        <article>
            <h3>Cake Sale</h3>
            <img src="./images/cake-sale.jpg" alt="Cake Sale">
            <p>We hope that whole community will support our cake sale again this year.
                All money goes towards purchasing equipment for training and matches, payments
                to referees and our annual day out.
            </p>
            <br>
            <p>Date: Sunday 18th May 2019</p>
            <p>Venue: Listerlin Church</p>
            <p>Time: After 9.30am Mass</p>
            <br>
            <p>We ask all members of the club to bring, buns, cakes, brown bread and tarts on the morning for
                the cake sale to be a success.
            </p>
            <p>As always Thank You for your continued support.</p>
        </article>
    </section>
</section>

<!-- include the sidebar section -->
<%- include('./partials/_sidebar.ejs'); %>