<!-- Student Name	: 	Sarah Barron
Student ID: 20013679
Deployed website:	http://tullogher-rosbercon-lgfa.surge.sh/
Github:		https://github.com/sarahbarron/tullogher-rosbercon-lgfa
-->

<!-- include the navigation -->
<%- include('./partials/_nav.ejs', {id : "our-club-page"}); %>

<!-- center section -->
<section class="center-section" id="club">

    <!-- heading -->
    <h1>Our Club</h1>

    <!-- our club section -->
    <section id="our-club">

        <!-- image with a caption -->
        <figure>
            <img src="./images/2017-LeagueE-Final-2017.jpg" alt="League E Final winners 2017">
            <figcaption>2017 League E Final Winners</figcaption>
        </figure>

        <!-- link to the LGFA website -->
        <p><a href="https://ladiesgaelic.ie/" target="_blank">The Ladies Gaelic Football Association</a> was founded in
            1974, since then it has enjoyed phenomenal growth throughout Ireland and abroad. </p>
        <p>However the current Tullogher Rosbercon ladies football club was only founded in 2016.</p>
        <p>Since then we have won an U14 & an U12 league final. Many of our club girls also represented
            us in the primary school league. They won the county final in both 2016 and 2017.
        </p>

        <!-- image with a caption -->
        <figure>
            <img src="./images/2017-schools-final.jpg" alt="schools final winners 2017">
            <figcaption>2017 School County Final Winners</figcaption>
        </figure>

        <p>We have teams from U8's right up to U16.</p>
        <p>We always welcome new girls and volunteers into the club. If you are interested in joining our
            club, please don't hesitate to <a href="contact.html">contact us</a>.
        </p>
    </section>
</section>
<!-- include the sidebar -->
<%- include('./partials/_sidebar.ejs'); %>