<!-- include the navigation menu -->
<%- include('./partials/_nav.ejs', {id : "skills-page"}); %>

<!-- center section -->
<section class="center-section">

    <!-- heading -->
    <h1>The Weekly Skill</h1>

    <!-- The weekly skill section -->
    <section>
        <!-- heading -->
        <h2>The Block</h2>
        <!-- paragraph about this weeks skill -->
        <p>This week we encourage all girls to practice the block. This skill is used to disposes an opponent and regain possession of the ball</p>
        <p>Read through the skills card and watch the video below before you begin practicing</p>
        <!-- image that is a link to a larger image of itself in new tab -->
        <a href="https://ladiesgaelic.ie/wp-content/uploads/2018/02/The-block.jpg" target="_blank">
            <img src="./images/the-block.jpg" alt="gaelic football the block skill"></a>
        <!-- youtube video of this weeks skill embedded  -->
        <iframe width="750" height="506" src="https://www.youtube.com/embed/uG0GWZ-vh1E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </section>
</section>

<!-- include the sidebar -->
<%- include('./partials/_sidebar.ejs'); %>