<!-- header with club crest image and club name -->
<header>
    <img src="../images/tullogher-rosbercon-logo.jpg" alt="tullogher rosbercon club crest">
    <h1>Tullogher Rosbercon LGFA</h1>
</header>