<!-- navigation menu -->
<nav>
  <ul>
    <li id="home-page"><a href="index.html">Home</a></li>
    <li id="our-club-page"><a href="our-club.html">Our Club</a></li>
    <li id="fixtures-results-page"><a href="fixtures-and-results.html">Fixtures & Results</a></li>
    <li id="events-page"><a href="news-and-events.html">News & Events</a></li>
    <li id="skills-page"><a href="weekly-skill.html">Weekly Skill</a></li>
    <li id="contact-page"><a href="contact.html">Contact</a></li>
  </ul>
</nav>

<!-- javascript adding the active class to the li of the active page -->
<script>
  document.querySelector("#<%= id %>").classList.add("active")
</script>