<!-- side bar showing latest results, fixtures, news and events -->
<aside>
    <h3>Latest Result</h3>
    <p>U16 League: Tullogher 1-5 V Piltown 2-2</p>
    <hr>
    <h3>Next Fixture</h3>
    <p>Sat 16th March - 2pm, Venue: Railyard </p>
    <p>U12 Tullogher V Railyard</p>
    <hr>
    <h3>News</h3>
    <h4>Registration</h4>
    <img src="../images/register.jpg" alt="registration 31st May">
    <p>Registration must be paid by 31st May 2019</p>
    <p>Fees: €30 per child max of €60 per family</p>
    <hr>
    <h3>Upcoming Events</h3>
    <h4>Cake Sale</h4>
    <img src="../images/thumbnail-cake-sale.jpg" alt="cake sale 18th May 2019">
    <p>Our annual cake sale will take place on Sunday 18th May 2019
        after Mass in Listerlin. We would appreciate all your support
        in helping our small club.
    </p>
</aside>