/* css for index.html */

/* about our club section on the index page*/
#about-section {
    height: 100vh;
}

/* about our club text area */
#about-section div {
    padding: 100px;
    font-size: 1.3em;
}

/* Fixtures and Results section on the index page */
#fix-res-section {
    background-image: url("../images/match.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    height: 90vh;
}

/* fixture and results section divs */
#fix-res-section div {
    margin: 80px 0;
    padding: 15px;
    background-color: rgb(231, 203, 70, 0.8);
    text-align: center;
}

/* fixture and results h2*/
#fix-res-section h2 {
    font-size: 2em;
    font-weight: bolder;
    color: darkgreen;
}

/* fixture and results paragraphs */
#fix-res-section p {
    font-size: 1.5em;
}